<div class="container">
	<input type="text" id="url" name="url" placeholder="url" autofocus>
	<select name="collection" id="collection">
		<option value="drone">Drone</option>
		<option value="airplane">Airplane</option>
		<option value="heli">heli</option>
		<option value="car" selected>car</option>
	</select>
	<input type="text" name="youtube1" placeholder="youtube1" id="youtube1">
	<input type="text" name="youtube2" placeholder="youtube2" id="youtube2">
	<input type="text" name="youtube3" placeholder="youtube3"id="youtube3">
	<br><br>
	<textarea name="review" id="morereview"></textarea>
	<br><center>
	<button id="submit" style="height: 50px;width: 100px;">Submit</button></center>
<br><br>
	<input type="text" id="urleiei" placeholder="urleiei">
	<select name="collection" id="collectioneiei">
		<option value="drone">Drone</option>
		<option value="airplane">Airplane</option>
		<option value="heli">heli</option>
		<option value="car">car</option>
	</select>
	<button onclick="urleiei()">Scrap!</button>

	<div class="url"></div>
	<div class="title"></div>
	<div class="images"></div>
	<div class="price"></div>
	<div class="oldprice"></div>
	<div class="discount"></div>
	<div class="comments"></div>
	<div class="rating"></div>
	<div class="detail"></div>
	<div class="warranty"></div>
	<div class="contents"></div>
</div>